<!-- Navigation Bar -->
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-left">
            <a href="{{ .Site.BaseURL }}" class="logo">
                <i class="fa-brands fa-linkedin"></i>
                <span class="logo-text">LinkedOut</span>
            </a>
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search for skills I don't have">
            </div>
        </div>
        <div class="nav-right">
            <a href="{{ .Site.BaseURL }}" class="nav-item">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>
            <a href="#" class="nav-item">
                <i class="fa-solid fa-user-group"></i>
                <span>Network</span>
            </a>
            <a href="#" class="nav-item">
                <i class="fa-solid fa-briefcase"></i>
                <span>Jobs</span>
            </a>
            <a href="{{ "messaging" | relURL }}" class="nav-item {{ if eq .Page.Title "Messaging" }}nav-item-active{{ end }}">
                <i class="fa-solid fa-comment-dots"></i>
                <span>Messaging</span>
            </a>
            <a href="#" class="nav-item">
                <i class="fa-solid fa-bell"></i>
                <span>Notifications</span>
            </a>
            <a href="{{ "profile" | relURL }}" class="nav-item profile-nav">
                <img src="{{ "profile.jpg" | relURL }}" alt="Profile" class="nav-avatar-img">
                <span>Me <i class="fa-solid fa-caret-down"></i></span>
            </a>
        </div>
    </div>
</nav>
