<div class="card post-creator">
    <div class="post-creator-input">
        <img src="{{ "ronaldo.jpg" | relURL }}" alt="Profile" class="creator-avatar-img">
        <input type="text" placeholder="Share your completely unoriginal thoughts...">
    </div>
    <div class="post-creator-actions">
        <button class="creator-action">
            <i class="fa-solid fa-image" style="color: #378fe9;"></i>
            <span>Photo</span>
        </button>
        <button class="creator-action">
            <i class="fa-solid fa-video" style="color: #5f9b41;"></i>
            <span>Video</span>
        </button>
        <button class="creator-action">
            <i class="fa-solid fa-calendar-days" style="color: #c37d16;"></i>
            <span>Event</span>
        </button>
        <button class="creator-action">
            <i class="fa-solid fa-newspaper" style="color: #e16745;"></i>
            <span>Write article</span>
        </button>
    </div>
</div>
